<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>virtualCards1</key>
	<string>{
  &quot;apelidoVirtual&quot;: &quot;string&quot;,
  &quot;codigoSeguranca&quot;: &quot;string&quot;,
  &quot;contaPagamento&quot;: &quot;string&quot;,
  &quot;credencialMascarada&quot;: &quot;string&quot;,
  &quot;credencialMascaradaReduzida&quot;: &quot;string&quot;,
  &quot;credencialUltimosDigitos&quot;: &quot;string&quot;,
  &quot;credencialVirtual&quot;: &quot;string&quot;,
  &quot;dataHoraInclusao&quot;: {
    &quot;chronology&quot;: {
      &quot;calendarType&quot;: &quot;string&quot;,
      &quot;id&quot;: &quot;string&quot;
    },
    &quot;dayOfMonth&quot;: 0,
    &quot;dayOfWeek&quot;: &quot;MONDAY&quot;,
    &quot;dayOfYear&quot;: 0,
    &quot;hour&quot;: 0,
    &quot;minute&quot;: 0,
    &quot;month&quot;: &quot;JANUARY&quot;,
    &quot;monthValue&quot;: 0,
    &quot;nano&quot;: 0,
    &quot;second&quot;: 0,
    &quot;year&quot;: 0
  },
  &quot;dataSaldo&quot;: &quot;string&quot;,
  &quot;dataValidade&quot;: {
    &quot;chronology&quot;: {
      &quot;calendarType&quot;: &quot;string&quot;,
      &quot;id&quot;: &quot;string&quot;
    },
    &quot;dayOfMonth&quot;: 0,
    &quot;dayOfWeek&quot;: &quot;MONDAY&quot;,
    &quot;dayOfYear&quot;: 0,
    &quot;hour&quot;: 0,
    &quot;minute&quot;: 0,
    &quot;month&quot;: &quot;JANUARY&quot;,
    &quot;monthValue&quot;: 0,
    &quot;nano&quot;: 0,
    &quot;second&quot;: 0,
    &quot;year&quot;: 0
  },
  &quot;dataValidadeFmt&quot;: &quot;string&quot;,
  &quot;descGrupoStatus&quot;: &quot;string&quot;,
  &quot;descStatus&quot;: &quot;string&quot;,
  &quot;email&quot;: &quot;card1@email.com&quot;,
  &quot;grupoStatus&quot;: 0,
  &quot;idConta&quot;: 0,
  &quot;idCredencial&quot;: 0,
  &quot;idPessoa&quot;: 0,
  &quot;idPlastico&quot;: 0,
  &quot;idProduto&quot;: 0,
  &quot;idProdutoPlataforma&quot;: 0,
  &quot;limiteDisponivel&quot;: 0,
  &quot;nomeImpresso&quot;: &quot;Virtual Card 1&quot;,
  &quot;nomeProduto&quot;: &quot;Card 1&quot;,
  &quot;preparaDataSaldo&quot;: &quot;2016-12-15T18:51:11.249Z&quot;,
  &quot;saldo&quot;: 0,
  &quot;status&quot;: 0,
  &quot;tipoConta&quot;: 0,
  &quot;urlImagemProduto&quot;: &quot;Card1&quot;
}</string>
	<key>virtualCards2</key>
	<string>{
  &quot;apelidoVirtual&quot;: &quot;string&quot;,
  &quot;codigoSeguranca&quot;: &quot;string&quot;,
  &quot;contaPagamento&quot;: &quot;string&quot;,
  &quot;credencialMascarada&quot;: &quot;string&quot;,
  &quot;credencialMascaradaReduzida&quot;: &quot;string&quot;,
  &quot;credencialUltimosDigitos&quot;: &quot;string&quot;,
  &quot;credencialVirtual&quot;: &quot;string&quot;,
  &quot;dataHoraInclusao&quot;: {
    &quot;chronology&quot;: {
      &quot;calendarType&quot;: &quot;string&quot;,
      &quot;id&quot;: &quot;string&quot;
    },
    &quot;dayOfMonth&quot;: 0,
    &quot;dayOfWeek&quot;: &quot;MONDAY&quot;,
    &quot;dayOfYear&quot;: 0,
    &quot;hour&quot;: 0,
    &quot;minute&quot;: 0,
    &quot;month&quot;: &quot;JANUARY&quot;,
    &quot;monthValue&quot;: 0,
    &quot;nano&quot;: 0,
    &quot;second&quot;: 0,
    &quot;year&quot;: 0
  },
  &quot;dataSaldo&quot;: &quot;string&quot;,
  &quot;dataValidade&quot;: {
    &quot;chronology&quot;: {
      &quot;calendarType&quot;: &quot;string&quot;,
      &quot;id&quot;: &quot;string&quot;
    },
    &quot;dayOfMonth&quot;: 0,
    &quot;dayOfWeek&quot;: &quot;MONDAY&quot;,
    &quot;dayOfYear&quot;: 0,
    &quot;hour&quot;: 0,
    &quot;minute&quot;: 0,
    &quot;month&quot;: &quot;JANUARY&quot;,
    &quot;monthValue&quot;: 0,
    &quot;nano&quot;: 0,
    &quot;second&quot;: 0,
    &quot;year&quot;: 0
  },
  &quot;dataValidadeFmt&quot;: &quot;string&quot;,
  &quot;descGrupoStatus&quot;: &quot;string&quot;,
  &quot;descStatus&quot;: &quot;string&quot;,
  &quot;email&quot;: &quot;card1@email.com&quot;,
  &quot;grupoStatus&quot;: 0,
  &quot;idConta&quot;: 0,
  &quot;idCredencial&quot;: 0,
  &quot;idPessoa&quot;: 0,
  &quot;idPlastico&quot;: 0,
  &quot;idProduto&quot;: 0,
  &quot;idProdutoPlataforma&quot;: 0,
  &quot;limiteDisponivel&quot;: 0,
  &quot;nomeImpresso&quot;: &quot;Virtual Card 2&quot;,
  &quot;nomeProduto&quot;: &quot;Card 2&quot;,
  &quot;preparaDataSaldo&quot;: &quot;2016-12-15T18:51:11.249Z&quot;,
  &quot;saldo&quot;: 0,
  &quot;status&quot;: 0,
  &quot;tipoConta&quot;: 0,
  &quot;urlImagemProduto&quot;: &quot;Card2&quot;
}</string>
	<key>virtualCards3</key>
	<string>{
  &quot;apelidoVirtual&quot;: &quot;string&quot;,
  &quot;codigoSeguranca&quot;: &quot;string&quot;,
  &quot;contaPagamento&quot;: &quot;string&quot;,
  &quot;credencialMascarada&quot;: &quot;string&quot;,
  &quot;credencialMascaradaReduzida&quot;: &quot;string&quot;,
  &quot;credencialUltimosDigitos&quot;: &quot;string&quot;,
  &quot;credencialVirtual&quot;: &quot;string&quot;,
  &quot;dataHoraInclusao&quot;: {
    &quot;chronology&quot;: {
      &quot;calendarType&quot;: &quot;string&quot;,
      &quot;id&quot;: &quot;string&quot;
    },
    &quot;dayOfMonth&quot;: 0,
    &quot;dayOfWeek&quot;: &quot;MONDAY&quot;,
    &quot;dayOfYear&quot;: 0,
    &quot;hour&quot;: 0,
    &quot;minute&quot;: 0,
    &quot;month&quot;: &quot;JANUARY&quot;,
    &quot;monthValue&quot;: 0,
    &quot;nano&quot;: 0,
    &quot;second&quot;: 0,
    &quot;year&quot;: 0
  },
  &quot;dataSaldo&quot;: &quot;string&quot;,
  &quot;dataValidade&quot;: {
    &quot;chronology&quot;: {
      &quot;calendarType&quot;: &quot;string&quot;,
      &quot;id&quot;: &quot;string&quot;
    },
    &quot;dayOfMonth&quot;: 0,
    &quot;dayOfWeek&quot;: &quot;MONDAY&quot;,
    &quot;dayOfYear&quot;: 0,
    &quot;hour&quot;: 0,
    &quot;minute&quot;: 0,
    &quot;month&quot;: &quot;JANUARY&quot;,
    &quot;monthValue&quot;: 0,
    &quot;nano&quot;: 0,
    &quot;second&quot;: 0,
    &quot;year&quot;: 0
  },
  &quot;dataValidadeFmt&quot;: &quot;string&quot;,
  &quot;descGrupoStatus&quot;: &quot;string&quot;,
  &quot;descStatus&quot;: &quot;string&quot;,
  &quot;email&quot;: &quot;card1@email.com&quot;,
  &quot;grupoStatus&quot;: 0,
  &quot;idConta&quot;: 0,
  &quot;idCredencial&quot;: 0,
  &quot;idPessoa&quot;: 0,
  &quot;idPlastico&quot;: 0,
  &quot;idProduto&quot;: 0,
  &quot;idProdutoPlataforma&quot;: 0,
  &quot;limiteDisponivel&quot;: 0,
  &quot;nomeImpresso&quot;: &quot;Virtual Card 3&quot;,
  &quot;nomeProduto&quot;: &quot;Card 3&quot;,
  &quot;preparaDataSaldo&quot;: &quot;2016-12-15T18:51:11.249Z&quot;,
  &quot;saldo&quot;: 0,
  &quot;status&quot;: 0,
  &quot;tipoConta&quot;: 0,
  &quot;urlImagemProduto&quot;: &quot;Card3&quot;
}</string>
	<key>virtualCards4</key>
	<string>{
  &quot;apelidoVirtual&quot;: &quot;string&quot;,
  &quot;codigoSeguranca&quot;: &quot;string&quot;,
  &quot;contaPagamento&quot;: &quot;string&quot;,
  &quot;credencialMascarada&quot;: &quot;string&quot;,
  &quot;credencialMascaradaReduzida&quot;: &quot;string&quot;,
  &quot;credencialUltimosDigitos&quot;: &quot;string&quot;,
  &quot;credencialVirtual&quot;: &quot;string&quot;,
  &quot;dataHoraInclusao&quot;: {
    &quot;chronology&quot;: {
      &quot;calendarType&quot;: &quot;string&quot;,
      &quot;id&quot;: &quot;string&quot;
    },
    &quot;dayOfMonth&quot;: 0,
    &quot;dayOfWeek&quot;: &quot;MONDAY&quot;,
    &quot;dayOfYear&quot;: 0,
    &quot;hour&quot;: 0,
    &quot;minute&quot;: 0,
    &quot;month&quot;: &quot;JANUARY&quot;,
    &quot;monthValue&quot;: 0,
    &quot;nano&quot;: 0,
    &quot;second&quot;: 0,
    &quot;year&quot;: 0
  },
  &quot;dataSaldo&quot;: &quot;string&quot;,
  &quot;dataValidade&quot;: {
    &quot;chronology&quot;: {
      &quot;calendarType&quot;: &quot;string&quot;,
      &quot;id&quot;: &quot;string&quot;
    },
    &quot;dayOfMonth&quot;: 0,
    &quot;dayOfWeek&quot;: &quot;MONDAY&quot;,
    &quot;dayOfYear&quot;: 0,
    &quot;hour&quot;: 0,
    &quot;minute&quot;: 0,
    &quot;month&quot;: &quot;JANUARY&quot;,
    &quot;monthValue&quot;: 0,
    &quot;nano&quot;: 0,
    &quot;second&quot;: 0,
    &quot;year&quot;: 0
  },
  &quot;dataValidadeFmt&quot;: &quot;string&quot;,
  &quot;descGrupoStatus&quot;: &quot;string&quot;,
  &quot;descStatus&quot;: &quot;string&quot;,
  &quot;email&quot;: &quot;card1@email.com&quot;,
  &quot;grupoStatus&quot;: 0,
  &quot;idConta&quot;: 0,
  &quot;idCredencial&quot;: 0,
  &quot;idPessoa&quot;: 0,
  &quot;idPlastico&quot;: 0,
  &quot;idProduto&quot;: 0,
  &quot;idProdutoPlataforma&quot;: 0,
  &quot;limiteDisponivel&quot;: 0,
  &quot;nomeImpresso&quot;: &quot;Virtual Card 4&quot;,
  &quot;nomeProduto&quot;: &quot;Card 4&quot;,
  &quot;preparaDataSaldo&quot;: &quot;2016-12-15T18:51:11.249Z&quot;,
  &quot;saldo&quot;: 0,
  &quot;status&quot;: 0,
  &quot;tipoConta&quot;: 0,
  &quot;urlImagemProduto&quot;: &quot;Card4&quot;
}</string>
	<key>arrayProducts</key>
	<string>[
    {
        &quot;titulo&quot; : &quot;Vinho&quot;,
        &quot;precoAntigo&quot; : &quot;&quot;,
        &quot;precoAtual&quot; : &quot;R$ 11,90&quot;,
        &quot;precoParcelado&quot; : &quot;&quot;,
        &quot;quantidadeVezesParcelamento&quot; : 0,
        &quot;urlImagem&quot; : &quot;Product1&quot;
    },
    {
        &quot;titulo&quot; : &quot;Geladeira Consul (450 Litros)&quot;,
        &quot;precoAntigo&quot; : &quot;R$ 1749,90&quot;,
        &quot;precoAtual&quot; : &quot;R$ 1399,00&quot;,
        &quot;precoParcelado&quot; : &quot;12x de R$ 116,66&quot;,
        &quot;quantidadeVezesParcelamento&quot; : 12,
        &quot;urlImagem&quot; : &quot;Product2&quot;
    },
    {
        &quot;titulo&quot; : &quot;Arroz Tio João&quot;,
        &quot;precoAntigo&quot; : &quot;R$ 10,29&quot;,
        &quot;precoAtual&quot; : &quot;R$ 9,29&quot;,
        &quot;precoParcelado&quot; : &quot;3x de R$ 3,10&quot;,
        &quot;quantidadeVezesParcelamento&quot; : 3,
        &quot;urlImagem&quot; : &quot;Product3&quot;
    },
    {
        &quot;titulo&quot; : &quot;Camisa Regata Masculina&quot;,
        &quot;precoAntigo&quot; : &quot;&quot;,
        &quot;precoAtual&quot; : &quot;R$ 29,90&quot;,
        &quot;precoParcelado&quot; : &quot;3x de R$ 9,97&quot;,
        &quot;quantidadeVezesParcelamento&quot; : 3,
        &quot;urlImagem&quot; : &quot;Product4&quot;
    },
    {
        &quot;titulo&quot; : &quot;Fraldas Pampers&quot;,
        &quot;precoAntigo&quot; : &quot;R$ 37,90&quot;,
        &quot;precoAtual&quot; : &quot;R$ 31,90&quot;,
        &quot;precoParcelado&quot; : &quot;3x de R$ 10,63&quot;,
        &quot;quantidadeVezesParcelamento&quot; : 3,
        &quot;urlImagem&quot; : &quot;Product5&quot;
    },
    {
        &quot;titulo&quot; : &quot;Caixa Heineken 12un&quot;,
        &quot;precoAntigo&quot; : &quot;R$ 28,80&quot;,
        &quot;precoAtual&quot; : &quot;R$ 23,40&quot;,
        &quot;precoParcelado&quot; : &quot;3x de R$ 7,80&quot;,
        &quot;quantidadeVezesParcelamento&quot; : 3,
        &quot;urlImagem&quot; : &quot;Product6&quot;
    },
    {
        &quot;titulo&quot; : &quot;Microondas Eletrolux&quot;,
        &quot;precoAntigo&quot; : &quot;R$ 630,55&quot;,
        &quot;precoAtual&quot; : &quot;R$ 567,15&quot;,
        &quot;precoParcelado&quot; : &quot;9x de R$ 63,02&quot;,
        &quot;quantidadeVezesParcelamento&quot; : 0,
        &quot;urlImagem&quot; : &quot;Product7&quot;
    }
]</string>
</dict>
</plist>
