<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>useTerms</key>
	<string>http://www.financialcartoes.com.br/Download/CONTRATO_DE_CONCESSAO_DE_CREDITO_CARTAO_INDIVIDUAL_COMPLETO_080115.pdf</string>
	<key>mainServer</key>
	<string>https://bahamascard.itspay.com.br</string>
	<key>mainServer-bkp</key>
	<string>http://tst.api.itspay.com.br</string>
	<key>secondServer</key>
	<string>http://ppp.sinergico.com.br:8080</string>
	<key>thirdServer</key>
	<string>http://tst.issuer.itspay.com.br</string>
	<key>login</key>
	<string>api/api/portador/login/auth</string>
	<key>register</key>
	<string>api/api/portador/login</string>
	<key>logout</key>
	<string>api/api/portador/login/logout</string>
	<key>credencial</key>
	<string>api/api/portador/credencial</string>
	<key>newVirtualCard</key>
	<string>api/api/gerador/credencial</string>
	<key>images</key>
	<string>api/api/imagem/abrir</string>
	<key>searchTariff</key>
	<string>api/api/portador/conta/buscar-tarifas/conta</string>
	<key>tariffProfile</key>
	<string>api/api/perfiltarifario/conta</string>
	<key>banks</key>
	<string>api/api/banco</string>
	<key>cardTransfer</key>
	<string>api/api/portador/conta/transferencia</string>
	<key>carrierInfo</key>
	<string>api/api/portador/credencial/info-portador</string>
	<key>bankTransfer</key>
	<string>api/api/agencia</string>
	<key>openPlastic</key>
	<string>api/api/plastico/abrir/mobile</string>
	<key>email</key>
	<string>api/api/portador/login/</string>
	<key>changeEmail</key>
	<string>api/api/portador/login/trocar-email</string>
	<key>changePassword</key>
	<string>api/api/portador/login/trocar-senha</string>
	<key>recoverPassword</key>
	<string>api/api/portador/login/recuperar-senha</string>
	<key>generateTicketCharge</key>
	<string>api/api/boleto/carga/gerar-linha-digitavel</string>
	<key>sendTicketEmail</key>
	<string>api/api/boleto/carga/enviar-boleto-email</string>
	<key>virtualCardsAccount</key>
	<string>api/api/portador/credencial/virtual/conta</string>
	<key>securitySettings</key>
	<string>api/api/portador/credencial/status-habilitacao</string>
	<key>securitySettingsChangeState</key>
	<string>api/api/portador/credencial/trocar-estado</string>
	<key>comunicateLost</key>
	<string>api/api/portador/credencial/avisar-perda</string>
	<key>comunicateSteal</key>
	<string>api/api/portador/credencial/avisar-roubo</string>
	<key>addresses</key>
	<string>api/api/endereco</string>
	<key>productPartner</key>
	<string>api/api/mktplace/portador/parceiro-produto</string>
	<key>productImage</key>
	<string>api/api/mktplace/administrativo/imagem/sku</string>
	<key>shippingForms</key>
	<string>api/api/mktplace/portador/formas-envio</string>
	<key>shippingCredencial</key>
	<string>api/api/mktplace/portador/pedido/credencial</string>
	<key>shippingAccount</key>
	<string>api/api/mktplace/portador/pedido/conta</string>
	<key>myRequests</key>
	<string>api/api/mktplace/portador/pedido/pessoa</string>
	<key>myRequestDetails</key>
	<string>api/api/mktplace/portador/pedido</string>
	<key>unlockedCards</key>
	<string>api/api/portador/credencial</string>
	<key>installmentPayment</key>
	<string>api/api/mktplace/portador/parcelas</string>
	<key>makeOrder</key>
	<string>api/api/mktplace/portador/pedido</string>
	<key>changePin</key>
	<string>api/api/portador/credencial/trocar-pin</string>
	<key>trasnferCorrentAccount</key>
	<string>api/api/portador/conta/transferencia/conta/corrente</string>
	<key>enableNotifications</key>
	<string>api/api/portador-dispositivo/habilitar-receber-notificacao</string>
</dict>
</plist>
