<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Itspay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED8AF3701DFF85C000EBB73F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED8AF3861DFF85C100EBB73F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED8AF3911DFF85C100EBB73F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
